cd elastic-start-local && ./start.sh && cd -

🌐 Open your browser at http://localhost:5601

   Username: elastic
   Password: szojsZ5E

🔌 Elasticsearch API endpoint: http://localhost:9200
🔑 API key: U0RLajM1MEJzaEVOVUhDX2VBR0Y6Nm4wektKWGUxUlFyRElLZjA3aHBLdw==

Learn more at https://github.com/elastic/start-local



Understanding cloud computing

introduction to shell
---------------
python manage.py search_index --create
python manage.py search_index --populate
python manage.py search_index --delete
python manage.py search_index --rebuild

http://localhost:9200/products/_search?q=%22product%22